<li><%= link_to "Add Store", new_store_path %></li>
<h1>All Stores</h1>
<% @stores.each do |k| %>
  <div class="well">
    <h4>Store: <%= k.id %></h4>
    <h3>Name: <%= k.sname %></h3>
    <%= link_to "View", store_path(k), :class => 'btn btn-default' %>
  </div>
<% end %>
