<h1>Keyboard: <%= @keyboard.id %></h1>
<h3>BackLight: <%= @keyboard.backl %></h3>
<h3>NumPad: <%= @keyboard.nump %></h3>
<hr>
<%= link_to "Edit", edit_keyboard_path(@keyboard), :class => 'btn btn-default' %>
